<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft1851.music.admin.mapper.SongMapper">
    <select id="selectSongByPage" resultType="com.soft1851.music.admin.entity.Song">
        SELECT song_name AS name , singer , duration , thumbnail , url , lyric , comment_count
        FROM song
        WHERE delete_flag = #{state}
    </select>
    <select id="getSongByTimeParagraph" resultType="com.soft1851.music.admin.entity.Song">
        SELECT * FROM song
        WHERE 1 = 1
        <if test="timeDto.yesterday != null">
            AND TO_DAYS(create_time) = TO_DAYS(NOW())
        </if>
        <if test="timeDto.week != null">
            AND YEARWEEK(date_format(create_time,'%Y-%m-%d')) = YEARWEEK(NOW())
        </if>
        <if test="timeDto.month != null">
            AND DATE_FORMAT(create_time,'%Y%m') = DATE_FORMAT(CURDATE(),'%Y%m')
        </if>
        <if test="timeDto.quarter != null">
            AND create_time > DATE_SUB(CURDATE(),INTERVAL  3 MONTH )
        </if>
    </select>
</mapper>
